// Colors
$color-white: #ffffff;
$color-white-grey:rgba(255, 255, 255, 0.7);
$color-white-dark:rgba(255, 255, 255, 0.33);
$color-white-light:rgba(255, 255, 255, 0.8);
$color-white-opacity:rgba(255, 255, 255, 0.5);
$color-black-opacity:rgba(0, 0, 0, 0.5);
$color-shades-of-whisper: #EEEEEE;
$color-black: #000000;
$color-bokara-grey: #141211;
$color-hint-of-red: #f4f3f2;
$color-swiss-coffee:#D7CFCB;
$color-cloudy:#AEA29A;
$color-instagram:#E4405F;
$color-vk:#4d7198;
$color-telegram:#039be5;
$color-youtube-start:#D1D1D1;
$color-youtube-1:#D42428;
$color-youtube-2:#CC202D;
$color-youtube-3:#BA202E;
$color-link-water:#C7C9CC;
$color-soft-peach:#EAE6E5;
$color-cloudy:#B5AFA6;
$color-mischka:#A8A9AE;
$color-nero:rgba(39, 36, 36, 0.7);
$color-dodger-blue:rgba(39, 135, 245, 0.18);
$color-blue-zodiac:rgba(163, 147, 245, 0.18);
$color-montana:#393B3C;
$color-forest-green:#308E21;
$color-whats-app: #54CC61;
$color-facebook: #005cb9;
$color-cornflower-blue:#67A5EB;
$color-perano:#B4A9FF;
$color-east-bay:#45526E;
$color-dim-gray:#747474;
$color-lucky:#A59400;
$color-heliotrope:#DC5DFC;

// Typography
$ff-play: "Play", "Arial", sans-serif;

// Viewport
$vp-desktop: 1440px;
$vp-tablet: 1023px;
$vp-mobile: 767px;
